<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CVMaker | Registration Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_styles.css') }}">
</head>
<body>
     <header class="page-header">
        <div class="page-header__inner">
            <a href="{{ url_for('main_page') }}" class="page-header__logo" title="CVMaker">CVMaker</a>
            <ul class="page-header__menu">
                <li class="page-header__menu__item">
                    <a href="#" title="Create Resume">Create Resume</a>
                </li>
                <li class="page-header__menu__item">
                    <a href="#" title="Profile">Profile</a>
                </li>
                <li class="page-header__menu__item">
                    <a href="#" title="CV templates">CV templates</a>
                </li>
            </ul>
        </div>
    </header>
     <main class="page-main">
         <section class="page--body page--hero">
            <div class="page-main__inner">
                <header>
                    <h1 class="page-title page-title--hero">Sign Up</h1>
                    <p class="page-intro">Enter your username and password to create account</p>
                </header>
            </div>
            <div class="page--hero__background"></div>
        </section>
         <section class="page--body page--how-it-works">
             {% for message in get_flashed_messages() %}
                <div class="alert__message">
                    {{ message }}
                     <span class="closebtn" onclick="this.parentElement.style.display='none';" style="cursor: pointer">&times;</span>
                </div>
             {% endfor %}
             <form action="{{ url_for('register') }}" method="post" class="how-it-works">
                 {{ form.hidden_tag() }}
                 <div class="how-it-works__item page--box">
                     {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert-danger">
                                    <strong>{{ error }}</strong>
                                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                         <div class="form__element">
                             <p>{{ field.label(class_='element__name') }}</p>
                             {{ field(class_='input__value') }}
                         </div>
                     {% endfor %}
                     <p style="font-size:18px; color:black">Already have account? <a href="{{ url_for('login') }}">Log in</a></p>
                     <p style="font-size:18px; color:black">Don't have strong password? <a href="#" onclick="Requirements()">See the requirements</a></p>
                 </div>
                 <p style="text-align: center">
                    {{ form.submit(class_="button button--purple button--hero") }}
                </p>
            </form>
        </section>
     </main>

<script>
    function Requirements() {
        alert(`A password is considered strong if:
        8 characters length or more
        1 digit or more
        1 symbol or more
        1 uppercase letter or more
        1 lowercase letter or more`)
    }
</script>
</body>
</html>